# Rust
target
Cargo.lock
certs/server.pem
certs/server.key

# Vim

**/*.vi
**/*.swp

# IntelliJ

**/.idea/
**/*.iml

# VSCode
.vscode/
/.vscode/*
!/.vscode/launch.json
*.code-workspace

# Eclipse

.project

# Zed
.zed

